@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&display=swap');

.header {
    background: url(./img/gradient.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    flex-flow: column nowrap;
}

.header>div {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 20%;
}

.header>p {
    font-size: medium;
}

.siluette {
    height: 600px;
}

.desc-text {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    flex-flow: column nowrap;
}

.work-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    flex-flow: column nowrap;
    height: 500px;
}

.card-info {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    flex-flow: column nowrap;
    color: white;
}

.magic-wand {
    background-color: rgb(131, 90, 235);
}

.card-info-test {
    background-color: rgb(0, 36, 83);
}

.card-info-launch {
    background-color: rgb(255, 43, 74);
}

.card-p {
    padding-top: 5%;
}

.info-work {
    background: url(./img/gradient.jpg);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;

}

.work-exp {
    background: linear-gradient(#e66465, #9198e5);
    padding: 2%;
}

.work-exp>h4 {
    margin-bottom: 8%;
}

.l-work {
    width: 250px;
    height: 200px;
    margin: 0;
}

.l-work-big {
    width: 510px;
    height: 200px;
}

.plate {
    margin: 5px;
}

.work-proccess {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

.quote {
    height: 500px;
    background-color: rgb(100, 203, 192);
    display: flex;
        align-items: center;
        align-content: center;
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        padding-left: 15%;
}

